<div>
  <div class="mb-3">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" placeholder="Nombre del proyecto">
</div>
<div class="mb-3">
  <label for="descripcion" class="form-label">Descripcion:</label>
  <input type="text" class="form-control" id="descripcion" placeholder="Descripción del proyecto">
</div>
  <div class="mb-3">
  <label for="director" class="form-label">Director Proyecto:</label>
  <input type="text" class="form-control" id="director" placeholder="Director del proyecto">
</div>
<div class="mb-3">
  <label for="fecha_inicio" class="form-label">Fecha Inicio:</label>
  <input type="datetime-local" class="form-control" id="fecha_inicio" placeholder="Fecha de inicio del proyecto">
</div>
</div>